@font-face {
  font-family: "MojFont";
  src: url('/static/font/Gilroy-Black.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: "MojFont";
  src: url('/static/font/Gilroy-Bold.ttf') format('truetype');
  font-weight: normal;
}
body {
  font-family: "MojFont", sans-serif;
}
